* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html, body, .root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  height: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: #ddd;
}

.header .board-taps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}

.header .board-taps .tap {
  width: 10%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  cursor: pointer;
  padding-top: 5px;
  border-radius: 18px 18px 0px 0px;
}

.header .board-taps .tap h1 {
  margin: 0;
  font-size: 18px;
}

.header .board-taps .tap:active, .header .board-taps .tap:hover {
  background: #fff;
}

.header .new-board {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .new-board button {
  font-size: 14px;
  width: 120px;
  background: #000;
  color: #fff;
  border-radius: 30px;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.section {
  height: calc(100% - 10%);
  width: 100%;
}

.section .board-content {
  width: 100%;
  height: 100%;
  background: goldenrod;
  position: absolute;
}

.section .board-content .note {
  position: absolute;
  width: 200px;
  height: 200px;
}

.section .board-content .note .bar {
  min-width: 200px;
  min-height: 10px;
  background-color: #000;
  cursor: move;
}

.section .board-content .note textarea {
  background-color: #d6eadf;
  min-width: 200px;
  min-height: 200px;
  display: block;
}

.section .board-content .note .noteColor {
  display: none;
  position: relative;
}

.section .board-content .note .noteColor button {
  border: 2px solid #ccc;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.section .board-content .note .noteColor .btn1 {
  background-color: #d6eadf;
}

.section .board-content .note .noteColor .btn2 {
  background-color: #b8e0d2;
}

.section .board-content .note .noteColor .btn3 {
  background-color: #95b8d1;
}

.section .board-content .note .noteColor .btn4 {
  background-color: #809bce;
}

.section .board-content .note .cancel {
  display: none;
}

.modal-board {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: 30%;
  border-radius: 38px;
}

.modal-content .content-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 90%;
}

.modal-content .content-data h1 {
  font-size: 30px;
  margin: 0 auto;
}

.modal-content .content-data input {
  height: 40px;
  width: 400px;
  border-radius: 16px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #888;
}

.modal-content .content-data button {
  height: 40px;
  width: 300px;
  border-radius: 27px;
  border: 1px solid #000;
  font-size: 18px;
  cursor: pointer;
}

.modal-content .content-data button:hover {
  background: #000;
  color: #ddd;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.note:hover {
  z-index: 1;
  background-color: #b8e0d2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.note:hover .note-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: -15%;
}

.note:hover .cancel {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border: 2px solid #ccc;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  cursor: pointer;
  background-color: #eac4d5;
  color: #FFFFFF;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.note:hover .noteColor {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.AddNote {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 50px;
  height: 50px;
  right: 50px;
  bottom: 50px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: #eac4d5;
  color: #FFFFFF;
  font-size: 22px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */