$colors:(color1:#d6eadf, color2 :#b8e0d2, color3 :#95b8d1, color4 :#809bce , defult-color: #d6eadf , cancel: #eac4d5 ,text-color: #FFFFFF);
$text-font:sans-serif;
@function color($color) {
	$color: map-get($map: $colors, $key: $color);
	@return $color;
}
@mixin btnstyle {
    border: 2px solid #ccc;
    border-radius: 50%;
    height: 25px;
    width:25px;   
    cursor: pointer; 
}


* {
    box-sizing: border-box;
    outline: none;
}
html ,body ,.root {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;    
}

.header {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background: #ddd;

    .board-taps {
        display: flex;
        width: 80%;
        .tap {
            width: 10%;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            cursor: pointer;
            padding-top: 5px;
            border-radius: 18px 18px 0px 0px; 
            
            h1{
                margin: 0;
                font-size: 18px;

            }
        }

        .tap:active ,.tap:hover {
            background: #fff;   
        }
    }

    .new-board {
        height: 100%;
        display: flex;
        align-items: center;
        button {
            font-size: 14px;
            width: 120px;
            background: #000;
            color: #fff;
            border-radius: 30px;
            border: none;
            padding: 10px;
            cursor: pointer;
        }
    }
}
.section {
    height: calc(100% - 10%);
    width: 100%;
    
    .board-content {
        width: 100%;
        height: 100%;
        background: goldenrod;
        position: absolute;
    
        .note {
            position: absolute;
            width: 200px;
            height:200px;
            .bar {
                min-width: 200px;
                min-height:10px;
                background-color: #000;
                cursor: move;
            }
            textarea {
                background-color: color(defult-color);
                min-width: 200px;
                min-height:200px;
                display: block;
            }
            .noteColor {
                display: none;
                position: relative;
                button {
                    @include btnstyle();
                }
                .btn1 {
                    background-color: color(color1);
                }
                .btn2 {
                    background-color: color(color2);
                }
                .btn3 {
                    background-color: color(color3);
                }
                .btn4 {
                    background-color: color(color4);
                }
            

            }
            .cancel {
                display: none;
            }
        }
    }
}

.modal-board {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 40%; 
    height: 30%;
    border-radius: 38px;
    .content-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 90%;

        h1 {
            font-size: 30px;
            margin: 0 auto;
        }
        input {
            height: 40px;
            width: 400px;
            border-radius: 16px;
            font-size: 18px;
            text-align: center;
            border: 1px solid #888;
        }

        button {
            height: 40px;
            width: 300px;
            border-radius: 27px;
            border: 1px solid #000;
            font-size: 18px;
            cursor: pointer;

        }

        button:hover {
            background: #000;
            color: #ddd;
        }
    }
}

.close {
    color: #aaa;
    
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.note:hover {
    z-index: 1;
    background-color: color(color2);
    transition: 0.4s;
    cursor: pointer;

    .note-btn {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: -15%;
    }
    .cancel {
        display: flex !important;
        justify-content: center;
        position: relative;
        
        @include btnstyle();
        background-color: color(cancel);
        color: color(text-color);
        font-size: 15px;
        cursor: pointer;
        text-decoration: none;
        font-weight: bold;
        align-items: center;
    }
    .noteColor {
        display: flex !important;
        position: relative;
        justify-content: center;
        
    }
}
.AddNote {
    display: none;
    justify-content: center;
    position: absolute;
    width: 50px;
    height: 50px;
    right:50px; 
    bottom: 50px; 
    border: 2px solid #ccc;
    border-radius: 50%;
    background-color: color(cancel);
    color: color(text-color);
    font-size: 22px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
}
